<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
    <script src="/static/js/jquery-1.12.4.min.js"></script>
</head>
<body>

<h4>数据列表</h4>


<div class="container">
    <div class="row">


        <div class="col-md-9">
            <a href="{{ add_url }}" class="btn btn-primary">添加数据</a>

            {% if showlist.config.search_fields %}
                <form action="" class="pull-right">
                    <input type="text" name="q" value="{{ showlist.config.key_word }}">
                    <button>Go!</button>
                </form>
            {% endif %}

            <form action="" method="post">
                {% csrf_token %}
                <select name="action" id="" style="width: 200px;padding: 5px 8px;display: inline-block">
                    <option value="">---------------</option>
                    {% for item in showlist.get_action_list %}
                        <option value="{{ item.name }}">{{ item.desc }}</option>
                    {% endfor %}

                </select>
                <button type="submit" class="btn btn-info">Go</button>
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        {% for item in showlist.get_header %}
                            <th>{{ item }}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for data in showlist.get_body %}
                        <tr>
                            {% for item in data %}
                                <td>{{ item }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>

                <nav aria-label="...">

                    <ul class="pagination">
                        {% if showlist.page_data.has_previous %}
                            <li class="long"><a
                                    href="?{{ showlist.page_data.previous_page_number.querystring }}">上一页</a>
                            </li>
                        {% endif %}

                        {% for page in showlist.page_data.pages %}
                            {% if page %}
                                {% ifequal page showlist.page_data.number %}
                                    <li class="active"><a href="?{{ page.querystring }}">{{ page }}</a></li>
                                {% else %}
                                    <li><a href="?{{ page.querystring }}" class="page">{{ page }}</a></li>
                                {% endifequal %}
                            {% else %}
                                <li class="none"><a href="">...</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if showlist.page_data.has_next %}
                            <li class="long"><a href="?{{ showlist.page_data.next_page_number.querystring }}">下一页</a>
                            </li>
                        {% endif %}
                    </ul>

                </nav>
            </form>
        </div>

        <div class="col-md-3">
            <div class="filter">
                <h4 style="">Filter</h4>
                {% for filter_field,linktags in showlist.get_filter_linktags.items %}
                    <div class="well">
                        <p>By {{ filter_field }}</p>
                        {% for link in linktags %}
                            <p>{{ link|safe }}</p>
                        {% endfor %}
                    </div>
                {% endfor %}


            </div>
        </div>
    </div>
</div>


<script>

    $("#choice").click(function () {

        if ($(this).prop("checked")) {
            $(".choice_item").prop("checked", true)
        } else {
            $(".choice_item").prop("checked", false)
        }

    })

</script>
</body>
</html>